.glass-orang{
  backdrop-filter: blur(5px);
  background-color: rgba(255, 166, 0, 0.4);
  border-radius: 26px;
  box-shadow: 15px 15px 28px 0px rgba(245, 166, 35, 0.3)
}
.scroll-section{
  background:  url("https://static.vecteezy.com/system/resources/thumbnails/004/398/834/small/seamless-pattern-of-black-and-white-pizza-repeat-background-with-isolated-monochrome-pizza-pieces-cheese-tomato-pepper-basil-mushroom-sausage-salami-bacon-olive-shrimp-mozzarella-vector.jpg");
  /*background-size: cover ;*/
  background-attachment: fixed;
  /*height: 500px;*/
}

.test{
  /* width: 100%; */
  /* animation-name: example;
  animation-duration: 4s;
  animation-delay: 1s;
  /* scale: 2; */
  /* animation-iteration-count: infinite; */ 
}



@keyframes example {
  0% {
    position: relative;
    top: 30px;
    /* scale: 2; */
  }
  50% { position: relative;
    top:-20px;
    /* scale: 2; */
    /* transform: rotate(-0.05turn) */
  }
  100% {
    position: relative;
    top: 30px;
    /* scale: 2; */

  }
}
