<footer class="container-fluid text-center py-5 card-body  glass-orang " >
  <div class="row">
    <div class="col-lg-3 col-sm-12">
      <img src="../../assets/header-img.png" width="100" height="100" alt="">
      <br>
      <small class="d-block mb-3 text-muted">© 2017–2023</small>

    </div>
    <div class="col-lg-3 col-sm-6">
      <h5 >Smart menu </h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Cool stuff</a></li>
        <li><a class="link-secondary" href="#">Random feature</a></li>
        <li><a class="link-secondary" href="#">Team feature</a></li>
        <li><a class="link-secondary" href="#">Stuff for developers</a></li>
        <li><a class="link-secondary" href="#">Another one</a></li>
        <li><a class="link-secondary" href="#">Last time</a></li>
      </ul>
    </div>
    <div class="col-lg-3 col-sm-6">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Resource name</a></li>
        <li><a class="link-secondary" href="#">Resource</a></li>
        <li><a class="link-secondary" href="#">Another resource</a></li>
        <li><a class="link-secondary" href="#">Final resource</a></li>
      </ul>
    </div>
    <div class="col-lg-3 col-sm-6   ">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Team</a></li>
        <li><a class="link-secondary" href="#">Locations</a></li>
        <li><a class="link-secondary" href="#">Privacy</a></li>
        <li><a class="link-secondary" href="#">Terms</a></li>
      </ul>
    </div>
    <div class="col-12 text-center">
      <small class="d-block mb-3 text-muted">
        Created by :
        <a href="https://www.linkedin.com/in/ayoub-lemrachchaq-b25014143"> Ayoub Lemrachchaq</a>
      </small>
    </div>
  </div>
</footer>
