

<div class="container  mb-5"  >
  <div class="row d-flex justify-content-around" style="">

    <div class="col-12 text-center">
      <h2 class="display-3 m-5" style="color: #f7ce81;" id="categories">
      Nos Categories 
      </h2>
    </div>

    <div class="col-lg-4 my-3 col-10">
      <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://images.unsplash.com/photo-1618213837799-25d5552820d3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGl6emElMjBwbmd8ZW58MHx8MHx8fDA%3D&w=1000&q=80');background-size: cover;">
        <div class="d-flex flex-column h-100 p-5 pb-1 text-white text-shadow-1">
          <h2 class=" mb-4 display-6 lh-1 fw-bold " style="text-shadow: 1px 1px 5px black;">
            Pizza
          </h2>
          <ul class="d-flex list-unstyled mt-auto" style="text-shadow: 1px 1px 5px black;">
            <li class="me-auto">
              <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
            </li>
          </ul>
        </div>
      </div>
    </div>




    <div class="col-lg-4 my-3 col-10">
      <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://img.cuisineaz.com/1024x576/2019/04/17/i146583-tacos-poulet-curry.jpeg');background-size: cover;">
        <div class="d-flex flex-column h-100 p-5 pb-1 text-white text-shadow-1">
          <h2 class=" mb-4 display-6 lh-1 fw-bold " style="text-shadow: 1px 1px 5px black;">
            Tacos
          </h2>
          <ul class="d-flex list-unstyled mt-auto" style="text-shadow: 1px 1px 5px black;">
            <li class="me-auto">
              <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
              <strong style="text-shadow: 1px 1px 5px black;">Earth</strong>
            </li>
          </ul>
        </div>
      </div>
    </div>





    <div class="col-lg-4 my-3 col-10">
      <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://ds393qgzrxwzn.cloudfront.net/resize/m600x500/cat1/img/images/0/ZM1gcVCcEK.jpg');background-size: cover;">
        <div class="d-flex flex-column h-100 p-5 pb-1 text-white text-shadow-1">
          <h2 class=" mb-4 display-6 lh-1 fw-bold " style="text-shadow: 1px 1px 5px black;">Jus</h2>
          <ul class="d-flex list-unstyled mt-auto" style="text-shadow: 1px 1px 5px black;">
            <li class="me-auto">
              <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
              <strong style="text-shadow: 1px 1px 5px black;">Earth</strong>
            </li>
          </ul>
        </div>
      </div>
    </div>


  </div>
</div>
