<div class="container ">
  <br>
  <div class="row" >
    <div  class="col-lg-12 text-center glass-orang" >
      <br><br><br>

      <img src="../../assets/header-img.png" width="200" alt="" class="test" >
      <br>
      <h1 class="mt-5 mb-5 display-1 header-section" style="color:rgb(255, 255, 255);text-shadow: 2px 2px 5px #090909be;font-family:Verdana, Geneva, Tahoma, sans-serif; margin:auto; " >
        Fantasy Food
        <br>
      </h1>

      <button type="button" class="btn btn" style="border: 1px white solid;border-radius: 30px;color: white;"> Order Now</button>
      <br><br>


    </div>

  </div>
</div>
