<br>
<div class="container-fluid header glass-orang mt-5">
  <div class="row p-5">
    <div class="col-lg-6 m-auto text-center">
      <p class="m-auto display-3 title-text" style="color: darkslategrey;" >
        First smart-Menu In Morocco
      </p>
      <br>
      <form class="d-flex justify-content-around" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button mat-stroked-button color="red">Search</button>
      </form>
    </div>
    <div class="col-lg-6 text-center">
      <img src="../../assets/category.avif" class="img-fluid test" alt="" width="80%">
    </div>
  </div>
</div>
