<div class="container-fluid py-4">
  <nav class="navbar navbar-expand-lg mb-3 fixed-top fw-blod  " style="border-radius: 5px;background-color: #ffffff;">
    <div class="container-fluid ">
      <a class="navbar-brand " href="" routerLink="/" > Fantasy food</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ">
          <a class="nav-link  active" aria-current="page" href="#" >Home</a>
          <a class="nav-link" href="#">Qui somme nous</a>
          <a class="nav-link" routerLink="/categories">Categories</a>
          <a class="nav-link" routerLink="/products">Nos Pizza</a>
          <a class="nav-link ">contactez nous</a>
        </div>
      </div>
    </div>
  </nav>
</div>
