 <footer class="container-fluid text-center p-5 card-body  bg-dark bg-gradient  shadow-lg " style="border-radius: 25px 25px 0px 0px ;">
  <div class="row">
    <div class="col-lg-3 col-sm-12">
      <img src="../../../assets/mamito_logo-png.png" width="200px" class="img-fluid" alt="">
      <br>
      <small class="d-block  text-white">© 2023–2024</small>

    </div>
    <div class="col-lg-3 col-sm-6">
      <h2  class="text-start " style="color: #d7a734;">Smart menu </h2>
      <ul class="list-unstyled text-small text-start">
        <li><a class="link-secondary text-white text-strat" href="#">Cool stuff</a></li>
        <li><a class="link-secondary text-white text-strat" href="#">Random feature</a></li>
        <li><a class="link-secondary text-white text-strat" href="#">Team feature</a></li>
        <li><a class="link-secondary text-white text-strat" href="#">Stuff for developers</a></li>
        <li><a class="link-secondary text-white text-strat" href="#">Another one</a></li>
        <li><a class="link-secondary text-white text-strat" href="#">Last time</a></li>
      </ul>
    </div>
    <div class="col-lg-3 col-sm-6">
      <h2 class="text-start " style="color: #d7a734;">Resources</h2>
      <ul class="list-unstyled text-small text-start">
        <li><a class="link-secondary text-white text-strat" href="#">Resource name</a></li>
        <li><a class="link-secondary text-white text-strat" href="#">Resource</a></li>
        <li><a class="link-secondary text-white text-strat" href="#">Another resource</a></li>
        <li><a class="link-secondary text-white text-strat" href="#">Final resource</a></li>
      </ul>
    </div>
    <div class="col-lg-3 col-sm-6   ">
      <h2 class="text-start " style="color: #d7a734;">About</h2>
      <ul class="list-unstyled text-small text-start">
        <li><a class="link-secondary text-white text-strat" href="#">Team</a></li>
        <li><a class="link-secondary text-white text-strat" href="#">Locations</a></li>
        <li><a class="link-secondary text-white text-strat" href="#">Privacy</a></li>
        <li><a class="link-secondary text-white text-strat" href="#">Terms</a></li>
      </ul>
    </div>
    <div class="col-12 text-center">
      <small class="d-block mb-3 text-white">
        Created by :
        <a href="https://www.linkedin.com/in/ayoub-lemrachchaq-b25014143"> Ayoub Lemrachchaq</a>
      </small>
    </div>
  </div>
</footer>
