.glass-orang{
  backdrop-filter: blur(5px);
  background-color: #fcd965;
  box-shadow: 35px 35px 68px 0px rgba(245, 166, 35, 0.3);
}
.glass-orang-color{
  color: #fcd965;
}

.second-color-border{
  border: 2px solid #fcd965;
}

/*body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/
.glass{
  background: rgba(255,255,255,0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255,255,255,0.25);
}

*{
  font-family: cursive;
}

