



<div class="container-fluid my-3">
  <div class="row rounded-5 flex-lg-row-reverse align-items-center  " style="background-color: #030303;">
    <div class="col-12 col-sm-8 col-lg-6">
      <img src="/assets/3dpizza.jpg" class=" rounded-5 img-fluid" alt="Bootstrap Themes" width="700" height="400" loading="lazy">
    </div>
    <!-- <div class="col-lg-6 "> -->
      <!-- <h2 class="text-white mt-3 ml-3 px-5"> -->

        <div class="col-lg-6 row p-5  d-flex justify-content-start fw-bolder ">
         <p class="display-5 fw-bold  mb-3 px-3" style="border-left: 10px solid white;color: #fcd965;"> Our values  </p>
          <div  class="text-white border-2 rounded-2 my-2 col-lg-12 p-2"><strong class="h3 text-white my-3 m-3"><span class="h1 glass-orang-color">Q</span>uality</strong><br> We are committed to using the freshest ingredients to deliver exceptional dishes every time.</div>
          <div  class="text-white border-2 rounded-2 my-2 col-lg-12 p-2"><strong class="h3 text-white my-3 m-3"><span class="h1 glass-orang-color">S</span>ervice</strong><br> Our team is dedicated to providing warm, attentive, and personalized service to every guest.</div>
          <div  class="text-white border-2 rounded-2 my-2 col-lg-12 p-2"><strong class="h3 text-white my-3 m-3"><span class="h1 glass-orang-color">A</span>uthenticity</strong><br> We honor culinary traditions by offering genuine, flavorful dishes that reflect our passion for food.</div>
          <div  class="text-white border-2 rounded-2 my-2 col-lg-12 p-2"><strong class="h3 text-white my-3 m-3"><span class="h1 glass-orang-color">C</span>ommunity</strong><br> We believe in creating a welcoming atmosphere where everyone feels like part of our family.</div>
  <!-- </div> -->
      
      <!-- </h2> -->
    </div>
  </div>
</div>



